<div class="list-item" flagid="<%= data.id %>" endversion="<%=data.endVersion%>">
    <span class="list-item-badge">0</span>
    <img src="<%=data.photo%>">

    <div class="list-item-content">
        <span><%= data.title %></span>
        <!--<span style="display:none"><%= "电话: &nbsp;&nbsp;" + data.lastmessage %></span>-->
    </div>
</div>