<div class="org-person" flagusername="<%=data.USERID%>">
    <img src="<%=data.PHOTO%>">

    <div class="org-person-info">
        <span><%= data.REALNAME %></span>
        <!--<span tel="<%=data.MOBILE%>" style="display:none"><%= "电话:&nbsp;&nbsp;"+ data.MOBILE %></span>-->
    </div>
</div>